{{> header}}

    <h1 class="center">{{textbook.0.title}}</h1>
    <img class="image-center" src="{{textbook.0.picture_url}}">
    <h3 class="center">Author: {{textbook.0.author}}</h3>
    <h3 class="center">ISBN-13: {{textbook.0.ISBN}}</h3>
    <h5 class="center"><a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords={{textbook.0.ISBN}}">Get Textbook!</a></h5>

    <div class="text-center"><a href="/textbooks/{{textbook.0.ISBN}}/reviews/new" class="btn btn-secondary btn-lg">Add Review!</a> </div>
    <br><br>
    <hr class="new4"> 
    {{#each textbook}}
    <div class="container-fluid">
        <div class="grid">
            <aside class="sidebar-left">
                <h5><strong>Username:</strong> {{username}}</h5>
                {{#if courseid}}
                <h6><strong>Course ID:</strong> {{courseid}}</h6>
                {{/if}}
                <div> <p><Strong>Date:</Strong> {{created_at}} </p></div>
            </aside>
            
            <article>
                <p><strong>Description:</strong> {{description}}</p>
            </article>
            
            <aside class="sidebar-right">
                <h4>Rating: {{effectrating}} / 10</h4>
                {{#if recommend}}
                <h4>Recommend: Yes</h4>
                {{else}}
                <h4>Recommend: No</h4>
                {{/if}}
            </aside>
             
        </div>
    </div>
    <hr class="new4"> 
    {{/each}}

{{> footertextbooks}}